{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
<script>
    var PROPS = {{ props|raw }};
</script>    
    {{ encore_entry_script_tags('app') }}
{% endblock %}